/* body, links, basics */
body{
	font-size: 14px;
	font-family: Verdana, Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	background-color: #e6e6e6;
	margin: 0px;
	padding: 0px;
    line-height: 150%
}
a{
	outline: none;
	color: #21759b;
	text-decoration: none;
}
a:hover {
	color: #0f3647;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 12px 0;
}
/*ul{
	list-style-type: none;
}
ul,ol,li{
	text-align: left;
	padding: 0; 
	list-style-position:inside; 
}*/
table{
	width: 100%;
	border-collapse: collapse;
}
th, td{
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
}
p{
	padding: 0 12px;
}
.bold{
	font-weight: bold;
}

/* page structure */
.site{
	margin: 48px auto;
	max-width: 960px;
	overflow: hidden;
	padding: 0 40px;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);

}
.site-header{
	margin: 0px;
	padding: 24px 0 0;
	border-bottom: 5px solid #FFBF00;
}
.site-main{
	margin: 24px 0;
}
.site-primary{
	width: 72%;
    border: 0px;
    padding: 0px;
    margin: 0px;
	display: inline-block;
}
.site-title{
	margin: 0px;
	display: inline-block;
}
.site-nav{
	margin: 0px;
	display: inline-block;
}
.site-secondary{
	width: 24%;
	display: inline-block;
	float: right;
	border: 2px solid #FF3300;
	box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.3);
	blur: 4px;
	border-radius: 15px;
}
.site-content{
}
.site-footer{
	margin: 0px;
	padding: 0px;
	border-top: 5px solid #FFBF00;
}

/* navigation */
.nav-item{
	float: left;
	border-radius: 15px;
	border: 2px solid #c0c0c0;
	padding: 0 12px;
	margin: 0 12px;
}
.nav-item:hover{
	background-color: #c0c0c0;
}
.nav-sub-item{
    display: none;
}


/* content */
.content{
	margin-bottom: 12px;
	border-bottom: 2px solid #c0c0c0;
	padding: 12px 0;
}
.side-content{
	margin-bottom: 12px;
	padding: 12px 0;
}
.side-title{
	text-align: center;
	color: #ff3300;
}

p::first-letter{
    font-size: 200%;
    color: #8A2BE2;
}

/* other */
.question{
	font-size: 18px;
	font-style: italic;
}

pre {
    -moz-tab-size:    4;
    -o-tab-size:      4;
    -webkit-tab-size: 4;
    -ms-tab-size:     4;
    tab-size:         4;
}

/* style for RSS Feed */

.rss-box {
	 margin: 10px 5%;
	 padding: 4px 8px;

	 background-color: #ededed;
	 border: 2px dashed #7485CA;
}

.rss-title, rss_title a {
	font-family: "American Typewriter", "Trebuchet MS", Trebuchet, Lucida, sans-serif;
	font-size: 18px;
	font-weight:bold;
	margin: 5px 0;
	padding: 0;
	letter-spacing: 1px;
}

.rss-items {
  
}

.rss-item  {
  font-family: verdana, arial, sans-serif;
  font-size: 13px;
  font-weight : bold; 
  margin: 8px 0;
}

.rss-item a:link, .rss-item a:visited, .rss-item a:active {
	text-decoration : none;
	border-bottom: 1px solid #ededed;
	color: #88b;
	}
	
a.item-link:link, a.item-link:visited,  a.item-link:active {
	font-size:15px;
}
	

.rss-item a:hover { 
	text-decoration : none;
	color: #e0861e;
	border-bottom: 1px dotted #e0861e;
	}
	
.rss-date {
	font-size: 11px;
	font-weight : normal;
	color: #F60;
	}

.rss-item .rss-item-auth {
	color: #888;
	font-size: 11px;

}

li.f2jnag {
	margin-top:1em;
	font-weight:bold;
	list-style: none;
	font-size: 10px; 
	/*   display:none;   */

}

.pod-play-box {
	margin: 4px 0;
	font-size:90%;
}


/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
   _width:12em;
   margin: 0 0.2em; padding: 0.1em 0; _padding:0;
   
   white-space:nowrap;
   text-decoration: none;
   vertical-align:middle;
   background: #fb6;
   color: black;
   }
.pod-play em {
   _width:1em; _cursor:hand;
   font-style: normal;
   margin:0; padding: 0.1em 0.5em;
   background: white;
   color: #222;
   }
.pod-play span {
   _width:1em; _cursor:hand;
   margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
   }
.pod-play:hover {
   background: #666;
   color: white;
   }
.pod-play:hover em {
   background: black;
   color: white
   }


